language: python
python:
- '2.7'
- '3.4'
- '3.5'
env:
- DJANGO="django>=1.3,<1.4"
- DJANGO="django>=1.4,<1.5"
- DJANGO="django>=1.5,<1.6"
- DJANGO="django>=1.6,<1.7"
- DJANGO="django>=1.7,<1.8"
- DJANGO="django>=1.8,<1.9"
- DJANGO="django>=1.9,<1.10"
install:
- pip install -r requirements/test.txt
- pip install coverage coveralls
- pip install $DJANGO
script:
- py.test tests --cov passwords
matrix:
  exclude:
  - python: '3.4'
    env: DJANGO="django>=1.3,<1.4"
  - python: '3.4'
    env: DJANGO="django>=1.4,<1.5"
  - python: '3.4'
    env: DJANGO="django>=1.5,<1.6"
  - python: '3.4'
    env: DJANGO="django>=1.6,<1.7"
  - python: '3.5'
    env: DJANGO="django>=1.3,<1.4"
  - python: '3.5'
    env: DJANGO="django>=1.4,<1.5"
  - python: '3.5'
    env: DJANGO="django>=1.5,<1.6"
  - python: '3.5'
    env: DJANGO="django>=1.6,<1.7"
  - python: '3.5'
    env: DJANGO="django>=1.7,<1.8"
after_success:
- coverage report
- coveralls
notifications:
  email:
    recipients:
    - maccesch@web.de
deploy:
  provider: pypi
  user: maccesch
  password:
    secure: NoM2NEezIgizj/Q8JeezHKDDNzYsJCEBGIVJ3gAqSIhsq71hWBiA5coautBq214zIXR9P8WlX5ZzEvdEiZJc/u6jgL9Ggp2YOsi5fjGqbAdiGvlPd6lAfgnlbdNqJgjkTEckktiQEmiZYmZGz8tE57In7+BDIuxEg2QWX9eQ21E=
  on:
    tags: true
    repo: dstufft/django-passwords
